[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.10"
certifi = "==2019.11.28"
chardet = "==3.0.4"
django-countries = "==5.5"
django-mathfilters= "==0.4.0"
idna = "==2.8"
mailchimp3 = "==3.0.12"
mysqlclient = "==1.4.6"
Pillow = "==6.2.1"
pytz = "==2019.3"
requests = "==2.22.0"
six = "==1.14.0"
sqlparse = "==0.3.0"
stripe = "==2.42.0"
urllib3 = "==1.25.7"

[requires]
python_version = "3.7"
