<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation Page</title>
</head>
<body>
{% extends "base.html" %}
{% load static %}
{% block content %}
        <br/>
        <br/>
        <div class="col-xs-8 text-center">
            <div class="heading-title heading-style pos-rltv mb-50 text-center">
                <h5 class="uppercase">Message</h5>
            </div>
        </div>
        <div class="account-area ptb-80">
            <div class="container">
                <div class="row">
                    {{msg}}<a href="{{link}}" style="color: blue"> {{name}}</a>
                </div>
            </div>
        </div>

{% endblock content %}
</body>
</html>