<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>Forgot Password</title>
</head>
<body>

{% extends "base.html" %}
{% load static %}
{% block content %}

        <!-- End of header area -->
        <br/>
        <br/>
        <div class="col-xs-8 text-center">
            <div class="heading-title heading-style pos-rltv mb-50 text-center">
                <h5 class="uppercase">Forgot Password</h5>

            </div>

        </div>
        <!-- Account Area Start -->
        <div class="account-area ptb-80">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <form method="POST">
                            {% csrf_token %}
                            {% if forgot_password_form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ forgot_password_form.non_field_errors }}</strong>
                                </div>
                            {% endif %}
                            <div class="fieldWrapper">
                                {{ forgot_password_form.email.errors }}
                                <label for="{{ forgot_password_form.email.id_for_label }}">Email</label>
                                {{ forgot_password_form.email }}
                            </div>
                            <br/>
                            <div class="fieldWrapper">
                                <input type="submit" value="Continue" style="color: white; background-color: black;">
                            </div>


                        </form>

                            </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Account Area End -->
{% endblock content %}

</body>

</html>