{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'images/icons/favicon.ico' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="{% static 'css/shortcode/shortcodes.css' %}">
    <!-- Theme main style -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- User style -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">  
    <link rel="stylesheet" href="{% static 'css/color/skin-default.css' %}">

    
    <!-- Modernizr JS -->
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>

    <!-- Body main wrapper start -->
    <div class="wrapper home-one" >
       
        <!-- Start of header area -->
        <header class="header-area header-wrapper" id="sticky-header">
            <div class="header-top-bar black-bg clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="login-register-area">
                                <ul>
                                    {% if user.is_authenticated %}
                                        <li><a href="">Hi, {{user.first_name}}</a></li>
                                        <li><a href="{% url 'myaccount' %}">My Account</a></li>
                                    {% else %}
                                        <li><a href="{% url 'login' %}">Login</a></li>
                                        <li><a href="{% url 'register' %}">SignUp</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 hidden-xs">
                            <div class="social-search-area text-center">
                                <div class="social-icon socile-icon-style-2">
                                    <ul>
                                        
                                    </ul>
                                 </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="cart-currency-area login-register-area text-right">
                                <ul>
                                    <li>
                                        <div class="header-currency">
                                            {% if user.is_authenticated %}
                                            <div class="cart-icon"> <a href="{% url 'mywishlist' %}">Wish<i class="fa fa-heart-o"></i></a> <span>0</span> </div>
                                            {% endif %}
                                        </div>
                                    </li>
                                    <li>
                                        {% if user.is_authenticated %}
                                        <div class="header-cart">
                                            <div class="cart-icon">
                                                <a href="{% url 'mycart' %}">Cart<i class="zmdi zmdi-shopping-cart"></i></a> <span>0</span>
                                            </div>
                                            <div class="cart-content-wraper">
                                                <div class="cart-single-wraper">
                                                    <div class="cart-img">
                                                        <a href="#"><img src="{% static 'images/product/01.jpg' %}" alt=""></a>
                                                    </div>
                                                    <div class="cart-content">
                                                        <div class="cart-name"> <a href="#">Aenean Eu Tristique</a> </div>
                                                        <div class="cart-price"> $70.00 </div>
                                                        <div class="cart-qty"> Qty: <span>1</span> </div>
                                                    </div>
                                                    <div class="remove"> <a href="#"><i class="zmdi zmdi-close"></i></a> </div>
                                                </div>
                                                <div class="cart-single-wraper">
                                                    <div class="cart-img">
                                                        <a href="#"><img src="{% static 'images/product/02.jpg' %}" alt=""></a>
                                                    </div>
                                                    <div class="cart-content">
                                                        <div class="cart-name"> <a href="#">Aenean Eu Tristique</a> </div>
                                                        <div class="cart-price"> $70.00 </div>
                                                        <div class="cart-qty"> Qty: <span>1</span> </div>
                                                    </div>
                                                    <div class="remove"> <a href="#"><i class="zmdi zmdi-close"></i></a> </div>
                                                </div>
                                                <div class="cart-subtotal"> Subtotal: <span>$200.00</span> </div>
                                                <div class="cart-check-btn">
                                                    <div class="view-cart"> <a class="btn-def" href="{% url 'mycart' %}">View Cart</a> </div>
                                                    <div class="check-btn">
                                                     <a class="btn-def" href="">Checkout</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% else %} 
                                        <div class="header-cart">
                                            <div class="cart-icon">
                                                <a href="{% url 'mycart' %}">Cart<i class="zmdi zmdi-shopping-cart"></i></a> <span>0</span>
                                            </div>

                                        </div>
                                        {% endif %}
                                    </li>
                                    {% if user.is_authenticated %}
                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
    {% block header %}

    {% endblock header %}

</body>
</html>