<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>Login Page</title>
</head>
<body>

{% extends "base.html" %}
{% load static %}
{% block content %}

        <!-- End of header area -->
        <br/>
        <br/>
        <div class="col-xs-8 text-center">
            <div class="heading-title heading-style pos-rltv mb-50 text-center">
                <h5 class="uppercase">Login</h5>
            </div>
        </div>
        <!-- Account Area Start -->
        <div class="account-area ptb-80">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <form method="POST">
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ form.non_field_errors }}</strong>
                                </div>
                            {% endif %}
                            <div class="fieldWrapper">
                                {{ form.username.errors }}
                                <label for="{{ form.username.id_for_label }}">Username</label>
                                {{ form.username }}
                            </div>
                            <div class="fieldWrapper">
                                {{ form.password.errors }}
                                <label for="{{ form.password.id_for_label }}">Password</label>
                                {{ form.password }}
                            <br/>
                            <span>
                             {{form.remember_me}} Remember me
                            </span>
                                <a href="{% url 'forgot-password' %}" class="forgotten forg">Forgot Password</a>

                            </div>
                            <br/>
                            <div class="fieldWrapper">
                                <input type="submit" value="Login" style="color: white; background-color: black;">
                            </div>
                            <a href="{% url 'register' %}" style="text-align:center;" class="forgotten forg">New User ? Create an account</a>
                        </form>

                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Account Area End -->
{% endblock content %}

</body>

</html>