<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>My Account </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

{% extends "base.html" %}
{% load static %}
{% block content %}
        <!-- End of header area -->
        
        
        <!--service idea area are start -->
        <div class="idea-area  ptb-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="idea-tab-menu">
                            <ul class="nav idea-tab" role="tablist">
                                <li role="presentation" class="active"><a href="#creativity" id="profile" aria-controls="creativity" role="tab" data-toggle="tab">Personal Info</a></li>
                                <li role="presentation"><a href="{% url 'manage-address' %}">Manage Addresses</a></li>
                                <li role="presentation"><a href="#devlopment" aria-controls="devlopment" role="tab" data-toggle="tab">My Order</a></li>
                                <li role="presentation"><a href="#markenting" aria-controls="markenting" role="tab" data-toggle="tab">Payment Method</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <div class="idea-tab-content">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="creativity">
                                    <form method="POST">
                                        {% csrf_token %}
                                        {% if user_form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ user_form.non_field_errors }}</strong>
                                        </div>
                                        {% endif %}
<!--                                        <input type="text" name="username" value="{{user_form.username.value}}" autofocus disabled>-->
                                        <label for="username">Username: </label>
                                                {{user_form.username}}
                                        <label for="first_name">First Name: </label>
                                                {{user_form.first_name}}
                                        <label for="last_name">Last Name: </label>
                                                {{user_form.last_name}}
                                        <label for="email">Email: </label>
                                                {{user_form.email}}
                                        <label for="mobile_no">Mobile Number: </label>
                                                {{profile_form.mobile_number}}
                                        <label for="gender">Gender: </label>
                                                {{profile_form.gender}}
                                        <br/>
                                    <div>
                                        <input type="submit" value="Update" style="color: white; background-color: black; width: 500px;">
                                    </div>
                                </form>
                            </div>
                                <div role="tabpanel" class="tab-pane fade in" id="devlopment">
                                    <form action="#" method="post">
                                        <div class="table-responsive">
                                            <table class="checkout-area table text-center">
                                                <thead>
                                                    <tr class="cart_item check-heading">
                                                        <td class="ctg-type"> Product</td>
                                                        <td class="cgt-des"> Total</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="cart_item check-item prd-name">
                                                        <td class="ctg-type"> Aenean sagittis × <span>1</span></td>
                                                        <td class="cgt-des"> $1,026.00</td>
                                                    </tr>
                                                    <tr class="cart_item">
                                                        <td class="ctg-type"> Subtotal</td>
                                                        <td class="cgt-des">$1,026.00</td>
                                                    </tr>
                                                    <tr class="cart_item">
                                                        <td class="ctg-type">Shipping</td>
                                                        <td class="cgt-des ship-opt">
                                                            <div class="shipp">
                                                                <input type="radio" id="pay-toggle" name="ship">
                                                                <label for="pay-toggle">Flat Rate: <span>$03</span></label>
                                                            </div>
                                                            <div class="shipp">
                                                                <input type="radio" id="pay-toggle2" name="ship">
                                                                <label for="pay-toggle2">Free Shipping</label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="cart_item">
                                                        <td class="ctg-type crt-total"> Total</td>
                                                        <td class="cgt-des prc-total"> $ 1.029.00 </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="text-right">
                                            <a class="btn-def btn2" href="#">Save</a>
                                        </div>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="markenting">
                                       <div class="col-xs-12">
                                        <div class="input-box mb-20">
                                            <label>Card Type <em>*</em></label>
                                            <select class="selectpicker select-custom" data-live-search="true">
                                              <option data-tokens="paypal">Paypal</option>
                                              <option data-tokens="visa">visa</option>
                                              <option data-tokens="master-card">master-card</option>
                                              <option data-tokens="discover">discover</option>
                                              <option data-tokens="payneor">payneor</option>
                                              <option data-tokens="skrill">skrill</option>
                                            </select>
                                        </div>
                                       </div>
                                       <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="input-box mb-20">
                                                <label>Card Number<em>*</em></label>
                                                <input type="text" name="email" class="info" placeholder="Card Number">
                                            </div>
                                            </div>
                                             <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="input-box mb-20">
                                                <label>Security Code<em>*</em></label>
                                                <input type="text" name="phone" class="info" placeholder="Security Code">
                                            </div>
                                       </div>
                                       
                                          
                                       <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="input-box mb-20">
                                            <label>Month <em>*</em></label>
                                            <select class="selectpicker select-custom" data-live-search="true">
                                              <option data-tokens="Januray">Januray</option>
                                              <option data-tokens="February">February</option>
                                              <option data-tokens="March">March</option>
                                              <option data-tokens="April">April</option>
                                              <option data-tokens="May">May</option>
                                              <option data-tokens="June">June</option>
                                              <option data-tokens="July">July</option>
                                              <option data-tokens="August">August</option>
                                              <option data-tokens="September">September</option>
                                              <option data-tokens="Ocotober">Ocotober</option>
                                              <option data-tokens="November">November</option>
                                              <option data-tokens="December">December</option>
                                            </select>
                                        </div>
                                       </div>
                                       
                                       <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="input-box mb-20">
                                            <label>Year<em>*</em></label>
                                            <select class="selectpicker select-custom" data-live-search="true">
                                              <option data-tokens="2016">2016</option>
                                              <option data-tokens="2017">2017</option>
                                              <option data-tokens="2018">2018</option>
                                              <option data-tokens="2019">2019</option>
                                              <option data-tokens="2020">2020</option>
                                              <option data-tokens="2021">2021</option>
                                              <option data-tokens="2022">2022</option>
                                              <option data-tokens="2023">2023</option>
                                              <option data-tokens="2024">2024</option>
                                              <option data-tokens="2025">2025</option>
                                            </select>
                                        </div>
                                       </div>
                                       <div class="payment-btn-area mt-20">
                                        <div class="col-md-4 col-sm-4 col-xs-12 text-left">
                                            <a class="btn-def btn2" href="#">Pay Now</a>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                                            <a class="btn-def btn2" href="#">Cancel Order</a>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 text-right">
                                            <a class="btn-def btn2" href="#">Continue</a>
                                        </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--service idea area are end -->
    {% endblock content %}
        <!-- footer area start-->

        
</body>

</html>