<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>Reset Password</title>
</head>
<body>

{% extends "base.html" %}
{% load static %}
{% block content %}

        <!-- End of header area -->
        <br/>
        <br/>
        <div class="col-xs-8 text-center">
            <div class="heading-title heading-style pos-rltv mb-50 text-center">
                <h5 class="uppercase">Reset Password</h5>
            </div>

        </div>
        <!-- Account Area Start -->
        <div class="account-area ptb-80">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <form method="POST">
                            {% csrf_token %}
                            {% if password_reset_form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ password_reset_form.non_field_errors }}</strong>
                                </div>
                            {% endif %}
                            <div class="fieldWrapper">
                                {{ password_reset_form.new_password.errors }}
                                <label for="{{ password_reset_form.new_password.id_for_label }}">New Password</label>
                                {{ password_reset_form.new_password }}
                            </div>
                            <br/>
                            <div class="fieldWrapper">
                                {{ password_reset_form.confirm_password.errors }}
                                <label for="{{ password_reset_form.confirm_password.id_for_label }}">Confirm Password</label>
                                {{ password_reset_form.confirm_password }}
                            </div>
                            <br/>
                            <div class="fieldWrapper">
                                <input type="submit" value="Reset" style="color: white; background-color: black;">
                            </div>


                        </form>

                            </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Account Area End -->
{% endblock content %}

</body>

</html>