{% load static %}

<html class="no-js" lang="en">

<head>
    <title>Register Page</title>
</head>
<body>
{% include "header.html" %}
{% block header %}
{% endblock header%}
    <div class="wrapper home-one"></div>
        <!-- Start of header area -->
        <header class="header-area header-wrapper">
            <div class="header-top-bar black-bg clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="login-register-area">
                                <ul>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a style="color:#ff5722;" href="register.html">SignUp</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 hidden-xs">
                            <div class="social-search-area text-center">
                                <div class="social-icon socile-icon-style-2">
                                    <ul>
                                        <li><a href="#" title="facebook"><i class="fa fa-facebook"></i></a> </li>
                                        <li><a href="#" title="twitter"><i class="fa fa-twitter"></i></a> </li>
                                        <li> <a href="#" title="dribble"><i class="fa fa-dribbble"></i></a></li>
                                        <li> <a href="#" title="behance"><i class="fa fa-behance"></i></a> </li>
                                        <li> <a href="#" title="rss"><i class="fa fa-rss"></i></a> </li>
                                    </ul>
                                 </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="cart-currency-area login-register-area text-right">
                                <ul>
                                    <li><a href="my-account.html">My Profile</a></li>
                                    <li>
                                        <div class="header-currency">
                                            <div class="cart-icon"> <a href="wishlist.html">Wish<i class="fa fa-heart-o"></i></a> <span>0</span> </div>
                                        
                                        </div>
                                    </li>
                                    <li>
                                        <div class="header-cart">
                                            <div class="cart-icon"> <a href="cart.html">Cart<i class="zmdi zmdi-shopping-cart"></i></a> <span>0</span> </div>
                                            <div class="cart-content-wraper">
                                                <div class="cart-single-wraper">
                                                    <div class="cart-img">
                                                        <a href="#"><img src="{% static 'images/product/01.jpg' %}" alt=""></a>
                                                    </div>
                                                    <div class="cart-content">
                                                        <div class="cart-name"> <a href="#">Aenean Eu Tristique</a> </div>
                                                        <div class="cart-price"> $70.00 </div>
                                                        <div class="cart-qty"> Qty: <span>1</span> </div>
                                                    </div>
                                                    <div class="remove"> <a href="#"><i class="zmdi zmdi-close"></i></a> </div>
                                                </div>
                                                <div class="cart-single-wraper">
                                                    <div class="cart-img">
                                                        <a href="#"><img src="{% static 'images/product/02.jpg' %}" alt=""></a>
                                                    </div>
                                                    <div class="cart-content">
                                                        <div class="cart-name"> <a href="#">Aenean Eu Tristique</a> </div>
                                                        <div class="cart-price"> $70.00 </div>
                                                        <div class="cart-qty"> Qty: <span>1</span> </div>
                                                    </div>
                                                    <div class="remove"> <a href="#"><i class="zmdi zmdi-close"></i></a> </div>
                                                </div>
                                                <div class="cart-subtotal"> Subtotal: <span>$200.00</span> </div>
                                                <div class="cart-check-btn">
                                                    <div class="view-cart"> <a class="btn-def" href="cart.html">View Cart</a> </div>
                                                    <div class="check-btn"> <a class="btn-def" href="checkout.html">Checkout</a> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header"  class="header-middle-area">
                <div class="container">
                    <div class="full-width-mega-dropdown">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <div class="logo ptb-20"><a href="index.html"> 
                                    <img src="{% static 'images/logo/logo.png' %}" alt="main logo"></a>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-10 hidden-xs">
                                <nav id="primary-menu">
                                    <ul class="main-menu">
                                        <li ><a  href="index.html">Home</a></li>
                                        <li class="mega-parent"><a href="index.html">Electroinics</a>
                                            <div class="mega-menu-area mma-750">
                                                <ul class="single-mega-item coloum-4">
                                                    <li class="menu-title uppercase">Mobiles</li>
                                                    <li><a href="about-us.html" target="_blank">Apple</a></li>
                                                    <li><a href="blog.html" target="_blank">Samsung</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Nokia</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Oppo</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Vivo</a></li>
                                                </ul>
                                                <ul class="single-mega-item coloum-4">
                                                    <li class="menu-title uppercase">Laptops</li>
                                                    <li><a href="about-us.html" target="_blank">Apple</a></li>
                                                    <li><a href="blog.html" target="_blank">Hp</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Lenovo</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Asus</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Dell</a></li>
                                                </ul>
                                                <ul class="single-mega-item coloum-4">
                                                    <li class="menu-title uppercase">Tablets</li>
                                                    <li><a href="about-us.html" target="_blank">Apple iPads</a></li>
                                                    <li><a href="blog.html" target="_blank">Samsung Tab</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Lenovo Tab</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Honour Tab</a></li>
                                                </ul>
                                                <ul class="single-mega-item coloum-4">
                                                    <li class="menu-title uppercase">Desktop Pcs</li>
                                                    <li><a href="about-us.html" target="_blank">Apple Pcs</a></li>
                                                    <li><a href="blog.html" target="_blank">Samsung Pcs</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Lenovo Pcs</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Hp Pcs</a></li>
                                                </ul>
                                                
                                            </div>
                                        </li>
                                        <li class="mega-parent"><a href="index.html">Men</a>
                                            <div class="mega-menu-area mma-750">
                                                <ul class="single-mega-item coloum-4">
                                                    <li class="menu-title uppercase">Top wear</li>
                                                    <li><a href="about-us.html" target="_blank">T-Shirt</a></li>
                                                    <li><a href="blog.html" target="_blank">Shirt</a></li>
                                                    <li class="menu-title uppercase">Bottom wear</li>
                                                    <li><a href="single-blog.html" target="_blank">Jeans</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Traousres</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Cargos</a></li>
                                                </ul>
                                                <ul class="single-mega-item coloum-4">
                                                    <li class="menu-title uppercase">Footwear</li>
                                                    <li><a href="about-us.html" target="_blank">Sports shoes</a></li>
                                                    <li><a href="blog.html" target="_blank">Casual shoes</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Formal Shoes</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Sneakers</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Sandals</a></li>
                                                </ul>
                                                <ul class="single-mega-item coloum-4">
                                                    <li class="menu-title uppercase">Seasonal wear</li>
                                                    <li><a href="about-us.html" target="_blank">Sweaters</a></li>
                                                    <li><a href="blog.html" target="_blank">Jackets</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Sweat Shirt</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Thermals</a></li>
                                                </ul>
                                                <ul class="single-mega-item coloum-4">
                                                    <li class="menu-title uppercase">Watches</li>
                                                    <li><a href="about-us.html" target="_blank">Fastrack</a></li>
                                                    <li><a href="blog.html" target="_blank">Titan</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Sonata</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Casio</a></li>
                                                </ul>
                                                <li class="mega-parent"><a href="index.html">Women</a>
                                            <div class="mega-menu-area mma-750">
                                                <ul class="single-mega-item coloum-4">
                                                    <li class="menu-title uppercase">Western wear</li>
                                                    <li><a href="about-us.html" target="_blank">Top,T-Shirt & Shirts</a></li>
                                                    <li><a href="blog.html" target="_blank">Dresses & Skirts</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Jeans</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Traousres & Capris</a></li>
                                                </ul>
                                                <ul class="single-mega-item coloum-4">
                                                    <li class="menu-title uppercase">Footwear</li>
                                                    <li><a href="about-us.html" target="_blank">Sports shoes</a></li>
                                                    <li><a href="blog.html" target="_blank">Casual shoes</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Sandals</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Sleepers</a></li>
                                                </ul>
                                                <ul class="single-mega-item coloum-4">
                                                    <li class="menu-title uppercase">Seasonal wear</li>
                                                    <li><a href="about-us.html" target="_blank">Sweaters</a></li>
                                                    <li><a href="blog.html" target="_blank">Jackets</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Sweat Shirt</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Coat & Blazers</a></li>
                                                </ul>
                                                <ul class="single-mega-item coloum-4">
                                                    <li class="menu-title uppercase">Watches</li>
                                                    <li><a href="about-us.html" target="_blank">Fastrack</a></li>
                                                    <li><a href="blog.html" target="_blank">Titan</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Sonata</a></li>
                                                    <li><a href="single-blog.html" target="_blank">Casio</a></li>
                                                </ul>
                                                
                                            </div>
                                        </li>
                                        <li><a href="about-us.html">ABOUT</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-3 hidden-sm hidden-xs">
                                <div class="search-box global-table">
                                    <div class="global-row">
                                        <div class="global-cell">
                                            <form action="#">
                                                <div class="input-box">
                                                    <input class="single-input" placeholder="Search anything" type="text">
                                                    <button class="src-btn"><i class="fa fa-search"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End of header area -->
        <!-- Account Area Start -->
        <br/><div>
            
        </div>
        <div class="col-xs-8 text-center">
            <div class="heading-title heading-style pos-rltv mb-50 text-center">
                <h5 class="uppercase">SignUp</h5>
            </div>
        </div>    
        <div class="account-area ptb-80">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <form class="login-side" method="POST">
                            {% csrf_token %}
                            {% if profile_form.errors %}
    {% for field in profile_form %}
        {% for p_error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ p_error }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for p_nf_error in profile_form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ p_nf_error }}</strong>
        </div>
    {% endfor %}
{% endif %}
                            {{user_form.as_p}}
                            {{profile_form.as_p}}
                            <input type="submit" value="SignUp" style="color: white; background-color: black;">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Account Area End -->     
    {% include "footer.html" %}
</body>

</html>